[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
notebook = "*"

[packages]
numpy = "*"
matplotlib = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
